/*头部样式*/
body{
	margin: 0px;
	position: relative;
}
.head{
	width: 100%;
	height: 35px;
	background-color: rgb(247,247,247);
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0.1;
}
.box{
	width: 1200px;
	margin: 0px auto;
	position: relative;
	z-index: 1;
}
header{
	width: 100%;
}
.headLogin{
	/*width: 100%;*/
	height: 35px;
}
.headLoginLeft{
	float: left;
}
.headLoginRight{
	float: right;
}
.headLogin a{
	font-size: 12px;
	color: black;
	text-decoration: none;
	line-height: 35px;
}
.sep{
	color: lightgray;
}
.hotTel,.hotLine{
	font-size: 12px;
}
.hotLine{
	color: rgb(143,195,31);
}
.headLogo{
	width: 100%;
	overflow: hidden;
}
.headLogoLeft{
	margin-top: 20px;
	float: left;
}
.headLogoRight{
	width: 40%;
	float: right;
}
.headLogoRight input{
	width: 80%;
	height: 30px;
	margin-top: 20px;
	float: left;
}
.headLogoRight button{
	width: 15%;
	height: 36px;
	margin-top: 20px;
	float: left;
}
.searchMore{
	float: left;
	font-size: 10px;
}
.searchMore span{
	color: black;
}
.searchMore a{
	color: gray;
	text-decoration: none;
}
.bodyHead{
	width: 100%;
	overflow: hidden;
	margin-top: 20px;
}
.fen{
	width: 15%;
	float: left;
	height: 35px;
	background-color: rgb(136,196,57);
	color: white;
	text-align: center;
	line-height: 35px;
}
.fen:before{
	content: '\e056';
}
.bodyHead a{
	float: left;
	margin-left: 2%;
	color: gray;
	text-decoration: none;
	line-height: 35px;
}
.bodyHead a:hover{
	color: rgb(136,196,57);
}
hr{
	width: 100%;
	border: 1px rgb(136,196,57) solid;
	margin: 0px;
}
/*底部样式*/
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.bottom{
	width: 60%;
	margin: 0 auto;
}
.advantage{
	font-size: 16px;
	color: rgb(102, 102, 102);
}
.advantage .size{
	float: left;
	width: 25%;
	text-align: center;
}
.bottom .free{ 
	background-image: url("../img/index/advantage.png");
	width: 45px;
	height: 45px;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
 }
.bottom .lowMoney{
	background-position: -53px 0;
}

.bottom .anytime{
	background-position: -102px 0;
}

.bottom .protect{ 
	background-position: -152px 0;
}
.bottom h5{
	font-size: 16px;
}
.bottom .info{ 
	float: left;
	color: #666;
	font-size: 14px;
	width: 50%;
}
.bottom .info li{
	float: left;
	width: 23%;
	margin-right: 5px;
}
.bottom .info li a{
	display: block;
	color:#666;
	margin-bottom: 10px;
}
.bottom .info li a:hover{
	color:#8FC31F;
}

/*二维码*/
.bottom .erwei{
	width: 25%;
	float: left;
	border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding-bottom: 25px;
}
.bottom .imgs{
	width: 150px;
	height: 150px;
    margin: 30px 0px 0 10px;
    float: left;
}
.bottom .imgs img{
	width: 118px;
	border: 1px solid #ddd;
    border-radius: 2px;
    background-color: #fff;
}
.bottom .wenzi{
	float: left;
	font-size: 12px;
	color:#666;
	/*width: 50%;*/
	margin-top: 40px;

}
.bottom .container{
	height: 270px;
}
.bottom .connect{
	width: 24%;
	float: right;
}
.bottom .phone img{
	width: 61px;
	height: 56px;
	float: left;
}
.button{
	color:white;
	background-color:#8FC31F;
	border-radius: 5px;
	height: 40px;
	display: block;
	width:50%;
	line-height: 40px;
	text-align: center;
	margin-left:58px;
}
.button img{
	width: 18px;
	height: 22px;
	display: inline-block;
}
.button:hover{
	background: #6f9718
}
.relation{
	height: 40px;
}
.relation .friend{
	height: 40px;
}
.relation li{
	float: left;
	margin-top: 27px;
	margin-left: 10px;
}
.relation li a{
	color:#666;
}
.relation li a:hover{
	color: #8FC31F
}
.bottomWenzi{
	color:#666;
	margin-top: 30px;
}

.bottmImg{
	float: right;
    margin-right: 114px;
    margin-top: -65px;
}

.bottmImg img{
	margin-left: 10px;
}