/*头部样式*/
body{
	margin: 0px;
	position: relative;
}
.head{
	width: 100%;
	height: 35px;
	background-color: rgb(247,247,247);
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0.1;
}
.box{
	width: 60%;
	margin: 0px auto;
	position: relative;
	z-index: 1;
}
header{
	width: 100%;
}
.headLogin{
	/*width: 100%;*/
	height: 35px;
}
.headLoginLeft{
	float: left;
}
.headLoginRight{
	float: right;
}
.headLogin a{
	font-size: 12px;
	color: black;
	text-decoration: none;
	line-height: 35px;
}
.sep{
	color: lightgray;
}
.hotTel,.hotLine{
	font-size: 12px;
}
.hotLine{
	color: rgb(143,195,31);
}
.headLogo{
	width: 100%;
	overflow: hidden;
}
.headLogoLeft{
	float: left;
}
.headLogoRight{
	width: 40%;
	float: right;
}
.headLogoRight input{
	width: 80%;
	height: 30px;
	margin-top: 20px;
	float: left;
}
.headLogoRight button{
	width: 15%;
	height: 36px;
	margin-top: 20px;
	float: left;
}
.searchMore{
	float: left;
	font-size: 10px;
}
.searchMore span{
	color: black;
}
.searchMore a{
	color: gray;
	text-decoration: none;
}
.bodyHead{
	width: 100%;
	overflow: hidden;
	margin-top: 20px;
}
.bodyHead span{
	width: 15%;
	float: left;
	height: 35px;
	background-color: rgb(136,196,57);
	color: white;
	text-align: center;
	line-height: 35px;
}
.bodyHead span:before{
	content: '\e056';
}
.bodyHead a{
	float: left;
	margin-left: 2%;
	color: gray;
	text-decoration: none;
	line-height: 35px;
}
.bodyHead a:hover{
	color: rgb(136,196,57);
}
/*底部样式*/
.bottom{
	width: 60%;
	margin: 0 auto;
}
.advantage{
	font-size: 16px;
	color: rgb(102, 102, 102);
}
.advantage .size{
	float: left;
	width: 25%;
	text-align: center;
}
.bottom .free{ 
	background-image: url("../img/index/advantage.png");
	width: 45px;
	height: 45px;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
 }
.bottom .lowMoney{
	background-position: -53px 0;
}

.bottom .anytime{
	background-position: -102px 0;
}

.bottom .protect{ 
	background-position: -152px 0;
}
